<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/adminn.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <title>Admin</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h2>Admin</h2>
        <form action="/admin/{{.Id}}" method="get">
            <p> {{.FirstName}}</p>
            <p> {{.LastName}}</p>
            <p> {{.Email}}</p>
            <p id="passwd" > ***</p>
        </form>
        <form action="/adminUpdate/{{.Id}}" method="get">
            <button type="submit"><b>Update</b></button>
        </form>
        <form action="/" method="get">
            <button type="submit"><b>Logout</b></button>
        </form>
        <form action="/article" method="get">
            <button type="submit"><b>Article</b></button>
        </form>
    </div>
</div>
</body>
</html>

