<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Page</title>
</head>
<body>
<h2>Admin</h2>
<div class="pagecontainer">
    <form action="/admin/{{.ID}}" method="post">
        <div>
            <div class="itemcontainer">
                <p> {{.FirstName}}</p>
            </div>
            <div class="itemcontainer">
                <p> {{.LastName}}</p>
            </div>
            <div class="itemcontainer">
                <p> {{.Email}}</p>
            </div>
            <div class="itemContainer">
                <p> {{.Password}}</p>
            </div>
        </div>
    </form>
    <div class="itemContainer">
        <form action="/success", method="get">
            <button type="submit"><b>Logout</b></button>
        </form>
    </div>
    <div class="itemContainer">
        <form action="/update", method="get">
            <button type="submit"><b>Update</b></button>
        </form>
    </div>
</div>
</body>
</html>