<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Page</title>
</head>
<body>
<h2>Admin</h2>
<div class="pagecontainer">
    <form action="/admin" method="get">
        <div>
            <div class="itemcontainer">
                <label for="fnametxt">Username</label>
                <label name="fnametxt"
                       id="fnametxt"
                       type="text"
                       placeholder=""
                ></label>
                <p id="firstname"></p>
            </div>
            <div class="itemcontainer">
                <label for="lnametxt">Lastname</label>
                <label name="lnametxt"
                       id="lnametxt"
                       type="text"
                       placeholder="sss"
                ></label>
                <p id="lastname"></p>
            </div>
            <div class="itemcontainer">
                <label for="emailtxt">Email</label>
                <label name="emailtxt"
                       id="emailtxt"
                       type="text"
                       placeholder=""
                ></label>
                <p id="email"></p>
            </div>
            <label for="pswlbl">Password</label>
            <label name="pswlbl"
                   id="pswlbl"
                   type="password"
                   placeholder=""
            ></label>
            <p id="password"></p>
        </div>
        <form action="/success", method="GET">
            <button type="submit"><b>Logout</b></button>
        </form>
    </form>
</div>

<script>
    document.getElementById("fname")
    document.getElementById("lname")
    document.getElementById("email")
    document.getElementById("password")
</script>
</body>
</html>