<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../frontend/src/assets/css/login.css">

</head>
<body>
<div class="login-page">
    <div class="form">
        <form action="/login" method="post" class="login-form">
            <input name="email" type="text" placeholder="E-mail Address"/>
            <input name="password" type="password" placeholder="******"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>
