<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="../assets/css/mainPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="mainBackground">
    <header class="header">
        <div class="header-top">
            <div class="toprow">
                <div class="top-col2">
                    <div class="blog-name">
                        <a onclick="document.location.href = '/' ">Blog Logo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <div class="col-1wrap">
                            <nav class="col1-nav">
                                <ul class="col1menu">
                                    <li class="menu"><a href="#home"><b>Home</b></a></li>
                                    <li class="menu"><a href="#categories"><b>Categories</b></a></li>
                                    <li class="menu"><a href="#aboutme"><b>About</b></a></li>
                                    <li class="menu"><a href="#members"><b>Contact</b></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="header-search">
                            <form class="header-search-form">
                                <button type="submit">Search</button>
                                <input type="search" placeholder="Search...">
                            </form>
                            <nav class="mainmenu-nav">
                                <ul class="mainmenu"></ul>
                            </nav>
                            <ul class="metabar-block">
                                <li class="login">
                                    <button onclick="document.location.href = 'login'" class="">
                                        <svg class="svg-inline--fa fa-sign-in-alt fa-w-16" aria-hidden="true"
                                             focusable="false" role="img"
                                             xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                  d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path>
                                        </svg>
                                        <p>Login</p>
                                    </button>
                                </li>
                                <li class="register">
                                    <button onclick="document.location.href = 'register'" class="">
                                        <svg class="svg-inline--fa fa-user-plus fa-w-20" aria-hidden="true"
                                             focusable="false"
                                             xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 640 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                                        </svg>
                                        <p>Register</p>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="articles">
        <div class="container-articles">
            <div class="article-row">
                    <div class="categories">
                        <form action="/mainPage" method="get">
                            <div class="post">
                            <div class="post-thumbnail">
                                <img src="https://kerteriz.net/content/images/size/w960/wordpress/2021/09/golang-dosya-okuma-yazma-islemleri.jpg" alt="rickandmortygopher">
                            </div>
                            <div class="post-content">
                                <h4 class="title">
                                    <a> {{.Title}} </a>
                                </h4>
                                <p style="font-size: 14px; margin-top: 20px; margin-bottom: 20px">{{.Summary}}</p>
                                <div class="post-meta-wrap">
                                    <div class="post-meta">
                                        <div class="content">
                                            <span>20.02.2022</span>
                                            <span>{{.WriterId}}</span>
                                        </div>
                                    </div>
                                    <a>Hbostan</a>
                                </div>
                            </div>
                        </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-top">
            <div class="footer-container">
                <div class="footer-container-row">
                    <div class="footer-col1">
                        <div class="items">
                            <h5 class="sm-style">Social Media</h5>
                            <div class="sm-icons">
                                <span class="fa fa-facebook"></span>
                                <span class="fa fa-instagram"></span>
                                <span class="fa fa-twitter"></span>
                                <span class="fa fa-linkedin"></span>
                                <span class="fa fa-github"></span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-col2">
                        <div class="footer-newsletter">
                            <form class="footer-email-form">
                                <button type="email" class="email-button">
                                    <i class="material-icons">&#xe0be;</i>
                                </button>
                                <input class="email-input" type="email" placeholder="Sign Up for the Newsletter">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-container">
                <div class="footer-bottom-rows">
                    <div class="bottom-col1">
                        <div class="copyright-left">
                            <div class="bottom-blog-name">
                                <a onclick="document.location.href = '/' ">Blog Logo</a>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-col2">
                        <div class="copyright">Hbostan © Copyright 2022</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>