<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/css/mainPage.css">

</head>
<body>
<div class="main-page">
    <div class="form">
        <form action="/login", method="GET" class="login-form">
            <button type="submit"><b>Login</b></button>
        </form>
        <form action="/register", method="GET" class="login-form">
            <button type="submit"><b>Register</b></button>
        </form>
    </div>
</div>
</body>
</html>
