<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Modern Flat Design Login Form Example</title>
  <link rel="stylesheet" href="../assets/css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <form action="/register" method="post" class="login-form">
        <input name="firstname" type="text" placeholder="First Name" required/>
        <input name="lastname" type="text" placeholder="Last Name" required/>
        <input name="email" type="text" placeholder="E-mail Address" required/>
        <input name="password" type="password" placeholder="******" required/>
        <button>Sign Up</button>
      <form action="/login" method="get">
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </form>
  </div>
</div>
</body>
</html>
