<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Update</title>
  <link rel="stylesheet" href="../assets/css/update.css">

</head>
<body>
<div class="login-page">
  <div class="form">
    <h2>User Update Panel</h2>
    <form action="/update/{{.Id}}" method="post">
      <h4>First Name</h4>
      <p> {{.FirstName}}</p>
      <input name="firstname" type="text" placeholder="First Name"/>
      <h4>Last Name</h4>
      <p> {{.LastName}}</p>
      <input name="lastname" type="text" placeholder="Last Name"/>
      <h4>E-Mail</h4>
      <p> {{.Email}}</p>
      <input name="email" type="text" placeholder="E-mail Address"/>
      <h4>Password</h4>
      <p> *** </p>
      <input name="password" type="password" placeholder="Password"/>
      <input name="passwordconfirm" type="password" placeholder="Password Confirm">
      <button type="submit"><b>Update</b></button>
    </form>
    <form action="/delete/{{.Id}}" method="get">
      <button type="submit"><b>Delete</b></button>
    </form>
    <form action="/user" method="get">
      <button type="submit"><b>Cancel</b></button>
    </form>
  </div>
</div>
</body>
</html>
