<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Page</title>
</head>
<body>
<h2>User</h2>
<div class="pagecontainer">
    <form action="/admin" method="get">
        <div>
            <div class="itemcontainer">
                <label for="fnametxt">Username</label>
                <label name="fnametxt"
                       type="text"
                       placeholder=""
                ></label>
            </div>
            <div class="itemcontainer">
                <label for="lnametxt">Lastname</label>
                <label name="lnametxt"
                       type="text"
                       placeholder=""
                ></label>
            </div>
            <div class="itemcontainer">
                <label for="emailtxt">Email</label>
                <label name="emailtxt"
                       type="text"
                       placeholder=""
                ></label>
            </div>
            <label for="pswlbl">Password</label>
            <label name="pswlbl"
                   type="password"
                   placeholder=""
            ></label>
        </div>
    </form>
</div>
</body>
</html>