<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User</title>
</head>
<body>
<h2>Admin</h2>
<div class="pagecontainer">
    <form action="/user" method="get">
        <div>
            <div class="itemcontainer">
                <label for="fnametxt">First Name</label>
                <label id="fnametxt"
                       type="text"
                ></label>
            </div>
            <div class="itemcontainer">
                <label for="lnametxt">Last Name</label>
                <label name="lnametxt"
                       id="lnametxt"
                       type="text"
                       placeholder=""
                ></label>
            </div>
            <div class="itemcontainer">
                <label for="emailtxt">E-mail</label>
                <label name="emailtxt"
                       id="emailtxt"
                       type="text"
                       placeholder=""
                ></label>
            </div>
            <label for="pswlbl">Password</label>
            <label name="pswlbl"
                   id="pswlbl"
                   type="password"
                   placeholder=""
            ></label>
        </div>
    </form>
    <!--<form action="/success", method="GET">
        <button type="submit"><b>Logout</b></button>
    </form>-->
</div>
</body>
</html>