
body {
    margin: 0;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}

.header{
    padding: 0;
    background: #fff;
    position: relative;
    z-index: 99;
    box-sizing: border-box;
}

div{
    display: block;
}

.header-top{
    padding: 20px 60px;
    background: #f0f2f5;
    box-sizing: border-box;
}

.toprow{
    -webkit-box-align: center !important;
    align-items: center !important;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.blog-name{
    height: 32px;
    text-align: center;
    font-size: 40px;
}

.blog-name a{
    cursor: pointer;
}

.header-bottom{
    background-color: #FFFFFF;
    padding: 0 60px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.row{
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1080px;
    margin: auto;
    box-sizing: border-box;
}

.col-1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.col-2{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

nav{
    display: block;
}

.col1-nav{
    display: flex;
    height: 80px;
    justify-content: flex-start;
}

.col1menu{
    display: flex;
}

ul.col1menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.menu{
    margin: 0 12px;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    justify-content: flex-start;
}

li a {
    float: left;
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    color: #878687;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
}

.header-search {
    display: flex;
    min-width: 200px;
    height: 40px;
    padding: 20px 0;
    float: right;
    margin-top: 0;
}

.header-search-form {
    display: flex;
    background-color: #f1f2f5;
    border-radius: 30px;
    position: relative;
    margin-right: 10px;
}

.mainmenu-nav{
    width: 0;
}

.mainmenu {
    display: flex;
}

.mainmenu-nav ul.mainmenu{
    justify-content: flex-start;
    flex-wrap: wrap;
}

.metabar-block {
    display: flex;
}

.metabar-block li{
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

ul li{
    line-height: 18px;
}

li{
    display: list-item;
}

.login {
    width: 100px;
    background-color: #2da355;
    border-radius: 30px;
    display: flex;
}

.login button {
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

button svg {
    width: 20px;
}

.register {
    width: 120px;
    background-color: #2da355;
    border-radius: 30px;
    display: flex;
}

.register button {
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.menu li:hover, .menu1 li:hover{
    text-decoration: underline 3px;
    text-decoration-color: #2ca456;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: #65676B;
    outline: none;
}

form:focus-within {
    outline: #2da355 solid 1px;
}

button[type="submit"] {
    text-indent: -999px;
    border: none;
    overflow: hidden;
    width: 20px;
    padding: 0;
    margin: 0 10px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.articles{
    padding-top: 10px;
    padding-bottom: 80px;
}

.container-articles{
    max-width: 1080px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.article-row{
    max-width: 1080px;
    margin: auto;
}

.categories{
    padding-right: 30px;
}

.post{
    display: flex;
    max-width: 1080px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.post-thumbnail{
    max-height: 210px;
    min-width: 295px;
    max-width: 295px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

img{
    width: 295px;
    height: 210px;
}

.post-thumbnail img{
    object-fit: fill;
}

.post-content{
    border: 1px solid #2ca456;
    padding: 32px 30px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.title{
    margin-bottom: 0;
    margin-top: 0;
}

.title a{
    cursor: pointer;
}

.post-content .title a:hover{
    color: #4CAF50;
}

h4{
   font-weight: 700;
    font-size: 24px;
    word-break: break-word;
    font-family: sans-serif;
    color: black;
}

.post-meta-wrap{
    margin-bottom: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.post-meta{
    display: flex;
}

.footer{
    padding: 40px 0px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.footer-top{
    box-sizing: border-box;
}


.footer-container{
    max-width: 1080px;
    margin: auto;
    height: 81px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-container-row{
    display: flex;
    flex-direction: row;
    height: 81px;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-col1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    height: 81px;
}

.footer-col2{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.sm-style{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.items{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CED0D4;
    margin-bottom: 20px;
}

.fa{
    font-size: 40px;
    border: 1px;
    border-radius: 100%;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 2px;
    color: black;
    cursor: pointer;
    background-color: #f1f2f5;
}

.sm-icons {
    display: inline-flex;
}

.sm-icons span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa:hover{
    color: white;
    background-color: #2ca456;
}

.footer-newsletter{
    padding-bottom: 20px;
    border-bottom: 1px solid #CED0D4;
    margin-bottom: 20px;
}

.footer-email-form{
    display: flex;
    background-color: #f1f2f5;
    border-radius: 30px;
    position: relative;
    margin-right: 10px;
}

.footer-email-group{
    position: relative;
    margin-bottom: 0;
    text-align: right;
    display: inline-block;
    margin-top: 0;
    width: 100%;
    height: 40px;
}

button[type="email"]{
    border: none;
    overflow: hidden;
    width: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    background: transparent no-repeat center;
    opacity: 0.7;
}

input[type="email"]{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: #65676B;
    outline: none;
}

.email-input{
    width: 100%;
    height: 40px;
}

.footer-bottom{
    box-sizing: border-box;
}

.footer-bottom-container{
    max-width: 1080px;
    margin: auto;
    height: 37px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-bottom-rows{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.bottom-col1{
    padding: 0 15px;
    width: 825px;
    height: 37px;
}

.copyright-left{
    display: flex;
    width: 825px;
    height: 37px;
}

.bottom-blog-name{
    margin-right: 40px;
    font-size: 35px;
    cursor: pointer;
}

.bottom-col2{
    position: relative;
    width: 225px;
    height: 23px;
    padding-right: 15px;
    padding-left: 15px;
}

.copyright{
    font-size: 14px;
    text-align: right;
    margin-top: 9px;
}

